<div>
	<h1>Kuuntelijoiden</h1>

	<p>Tapahtumien käyttö on kätevää ja suositeltavaa mutta niitä käytettäessä pitää muistaa pari sääntöä.</p>



	<h3>Onko kuuntelija kuuntelemassa?</h3>

	<p ng-hide="showDoc1"><a href="" ng-click="showDoc1 = true">Näytä perustelu</a></p>
	<p ng-show="showDoc1">
		<code>AuthorizationService.isAdminUser()</code> valmistuu 500 ms kuluttua controllerin luomisesta mutta <code>ng-include</code>:n kautta lisätty controller käynnistyy vasta 1500 ms päästä, koska <code>listener.html</code> tiedoston lataus kestää niin kauan. Tällöin <code>isAdminUser</code> tapahtumalla ei vielä ole yhtään kuuntelijaa kun tapahtuma lähetetään.
	</p>

	<div class="row">
		<div class="col-md-4">
			<div ng-controller="BroadcastController">
				<div class="alert alert-info" role="alert" ng-if="broadcastLog">{{ broadcastLog }}</div>
				<div ng-include="'templates/kuuntelijat/listener.html'"></div>
			</div>
		</div>

		<div class="col-md-8">
			<div bs-tabs>
				<div title="controller.js" name="controller.js" bs-pane>
					<div hljs no-escape>
angular.module('kuuntelijat')
.controller('BroadcastController', function($scope, AuthorizationService) {
  AuthorizationService.isAdminUser().then(function(isAdminUser) {
    $scope.$broadcast('isAdminUser', isAdminUser);
    $scope.broadcastLog = 'isAdminUser tapahtuma lähti ' + new Date().toISOString();
  });

})
.controller('ListenerController', function($scope) {
  $scope.startupLog = 'ListenerController käynnistettiin ' + new Date().toISOString();
  $scope.$on('isAdminUser', function(event, isAdminUser) {
    $scope.message = isAdminUser ? 'Moi admin' : 'Moi tavis';
  });
});
					</div>
				</div>
				<div title="service.js" name="service.js" bs-pane>
					<div hljs no-escape>
angular.module('kuuntelijat')
.service('AuthorizationService', function($q, $timeout) {
  this.isAdminUser = function() {
    var deferred = $q.defer();

    $timeout(function() {
      deferred.resolve(true);
    }, 500);

    return deferred.promise;
  };
})
					</div>
				</div>
				<div title="httpInterceptor.js" name="httpInterceptor.js" bs-pane>
					<div hljs>
$httpProvider.interceptors.push(function($q, $timeout) {
    return {
      response: function(response) {
        if(response.config.url.indexOf('listener.html') !== -1) {
          var deferred = $q.defer();

        $timeout(function() {
          deferred.resolve(response);
        }, 1500);

        return deferred.promise;
        }
        return response;
      }
    };
  });
					</div>
				</div>
				<div title="parent.html" name="parent.html" bs-pane>
					<div hljs>
<div ng-controller="BroadcastController">
  <div class="alert alert-info" role="alert" ng-if="broadcastLog">{{ broadcastLog }}</div>
  <div ng-include="'templates/kuuntelijat/listener.html'"></div>
</div>
					</div>
				</div>
				<div title="listener.html" name="listener.html" bs-pane>
					<div hljs>
<div ng-controller="ListenerController">
  <div class="alert alert-info" role="alert" ng-if="startupLog">{{ startupLog }}</div>
  <div class="alert alert-success" role="alert" ng-if="message">{{ message }}</div>
</div>
					</div>
				</div>
			</div>
		</div>
	</div>







	<h3>Kuuletko sisko?</h3>

	<p ng-hide="showDoc2"><a href="" ng-click="showDoc2 = true">Näytä perustelu</a></p>
	<p ng-show="showDoc2">
		<code>$scope.$broadcast</code> lähettää viestejä alaspäin scopesta ja <code>$scope.$emit</code> lähettää ylöspäin. Kumpikaan näistä ei kantaudu siskoille joiden scopet ovat rinnakkaisia, saman ylä-scopen alaisia. Varsinkin directiiveissä, jotka voidaa sijoittaa minne tahansa DOM-puussa, varmin keino saavuuttaa kaikki kuuntelijat on käyttää <code>$rootScope.$broadcast</code>.
	</p>

	<div class="row">
		<div class="col-md-4">
			<div ng-controller="Sisko1Controller"></div>
			<div ng-controller="Sisko2Controller">
				<div class="alert alert-info" ng-repeat="message in messages">{{ message }}</div>
			</div>
			<div ng-controller="Sisko3Controller"></div>
		</div>

		<div class="col-md-8">
			<div bs-tabs>
				<div title="controller.js" name="controller.js" bs-pane>
					<div hljs no-escape>
angular.module('kuuntelijat')
.controller('Sisko1Controller', function($scope, $timeout) {
  $timeout(function() {
    $scope.$broadcast('Haloo sisko siellä alhaalla?', 1);
    $scope.$emit('Haloo sisko siellä ylhäällä?', 1);
  }, 500);
})
.controller('Sisko2Controller', function($scope) {
  $scope.messages = [];
  $scope.$on('Haloo sisko siellä ylhäällä?', function(event, sisko) {
    $scope.messages.push('Kuulen sinua siellä alhaalla, sisko ' + sisko + '. Minä olen sisko 2');
  });
  $scope.$on('Haloo sisko siellä alhaalla?', function(event, sisko) {
    $scope.messages.push('Kuulen sinua siellä ylhäällä, sisko ' + sisko + '. Minä olen sisko 2');
  });
})
.controller('Sisko3Controller', function($rootScope, $timeout) {
  $timeout(function() {
    $rootScope.$broadcast('Haloo sisko siellä alhaalla?', 3);
  }, 500);
});
					</div>
				</div>
				<div title="template.html" name="template.html" bs-pane>
					<div hljs>
<div ng-controller="Sisko1Controller"></div>
<div ng-controller="Sisko2Controller">
  <div class="alert alert-info" ng-repeat="message in messages">{{ message }}</div>
</div>
<div ng-controller="Sisko3Controller"></div>
					</div>
				</div>
			</div>
		</div>
	</div>











	<h3>Muuttaako lapsi pois kotoa?</h3>

	<p ng-hide="showDoc3"><a href="" ng-click="showDoc3 = true">Näytä perustelu</a></p>
	<p ng-show="showDoc3">
		<code>$rootScope.$on</code> on vaarallinen koska sen kuuntelija voi jäädä henkiin vaikka controller poistuu alta. Älä koskaan kuuntele <code>$rootScope</code>:lla tapahtumia vaan aina controllerin omalla scopella. <code>$rootScope</code> voi käyttää turvallisesti tapahtumien lähettämiseen.
	</p>

	<div class="row">
		<div class="col-md-4">
			<div ng-controller="AitiController">
				<button type="button" class="btn btn-primary" ng-hide="lapsi" ng-click="teeLapsi()">Tee 2 lasta</button>
				<button type="button" class="btn btn-primary" ng-show="lapsi" ng-click="lapsi = false; messages.length = 0">Hylkää kaikki lapset</button>
				<div ng-controller="LapsiController" ng-if="lapsi"></div>
				<div ng-controller="PahaLapsiController" ng-if="lapsi"></div>
				<div class="alert alert-info" ng-repeat="message in messages track by $index">{{ message }}</div>
			</div>
		</div>

		<div class="col-md-8">
			<div bs-tabs>
				<div title="controller.js" name="controller.js" bs-pane>
					<div hljs no-escape>
angular.module('kuuntelijat')
.controller('AitiController', function($scope, $timeout, $rootScope) {
  $scope.messages = [];
  $scope.lapsi = false;
  
  $scope.$on('Hei äiti, minä täällä!', function(event, lapsi) {
    $scope.messages.push('Lapsi on syntynyt!');
  });

  $scope.teeLapsi = function() {
    $scope.lapsi = true;
    $timeout(function() {
      $rootScope.$broadcast('Lapsi, kuuletko minua?');
    }, 100);
  };
})
.controller('LapsiController', function($scope, LapsiService) {
  $scope.$on('Lapsi, kuuletko minua?', LapsiService.vastaaAidille);
})
.controller('PahaLapsiController', function($rootScope, LapsiService) {
  $rootScope.$on('Lapsi, kuuletko minua?', LapsiService.vastaaAidille);
});
					</div>
				</div>
				<div title="service.js" name="service.js" bs-pane>
					<div hljs no-escape>
angular.module('kuuntelijat')
.service('LapsiService', function($rootScope) {
  this.vastaaAidille = function() {
    $rootScope.$broadcast('Hei äiti, minä täällä!');
  }
});
					</div>
				</div>
				<div title="template.html" name="template.html" bs-pane>
					<div hljs>
<div ng-controller="AitiController">
  <button type="button" class="btn btn-primary" ng-hide="lapsi" ng-click="teeLapsi()">Tee 2 lasta</button>
  <button type="button" class="btn btn-primary" ng-show="lapsi" ng-click="lapsi = false; messages.length = 0">Hylkää kaikki lapset</button>
  <div ng-controller="LapsiController" ng-if="lapsi"></div>
  <div ng-controller="PahaLapsiController" ng-if="lapsi"></div>
  <div class="alert alert-info" ng-repeat="message in messages track by $index">{{ message }}</div>
</div>
					</div>
				</div>
			</div>
		</div>
	</div>








	


	
</div>