<div>
	<h1>$watch nyanssit</h1>

	<p></p>



	<h3>Toimiiko $scope.$watch objectEquality = false?</h3>

	<p ng-hide="showDoc1"><a href="" ng-click="showDoc1 = true">Näytä perustelu</a></p>
	<p ng-show="showDoc1">
		Tuotteiden lisäystä ei havaita <code>$scope.$watch</code>:lla koska se tarkastelee oletuksena vain itse Array-olion referenssiä, eli vain koko Arrayn muuttaminen laukaisee kuuntelijan.
	</p>

	<div class="row">
		<div class="col-md-4">
			<div ng-controller="WatchParentController1">
				<p>{{ tuotteet | json }}</p>
				<div class="alert alert-info" ng-if="message">{{ message }}</div>

				<p>
					<button type="button" class="btn btn-primary" ng-click="lisaaTuote()">Äiti: lisää</button>
					<button type="button" class="btn btn-primary" ng-click="tyhjenna()">Äiti: tyhjennä</button>
					<button type="button" class="btn btn-primary" ng-click="muokkaa()">Äiti: muokkaa</button>
				</p>
				<watch-child-1 tuotteet="tuotteet"></watch-child-1>
			</div>
		</div>

		<div class="col-md-8">
			<div bs-tabs>
				<div title="controller.js" name="controller.js" bs-pane>
					<div hljs no-escape>
angular.module('watchNyanssit')
.controller('WatchParentController1', function($scope, $filter) {
  $scope.tuotteet = [{id: 5}, {id: 34}, {id: 88}];

  $scope.message = null;
  $scope.$watch('tuotteet', function() {
  	$scope.message = 'Äiti huomasi tuotteiden päivittyneen: ' + $filter('json')($scope.tuotteet);
  });

  $scope.counter = 500;
  $scope.lisaaTuote = function() {
  	$scope.message = null;
  	$scope.tuotteet.push({id: $scope.counter++});
  };
  $scope.tyhjenna = function() {
  	$scope.message = null;
  	$scope.tuotteet.length = 0;
  };
  $scope.muokkaa = function() {
  	if($scope.tuotteet.length > 0) {
  	  var tuote = $scope.tuotteet[$scope.tuotteet.length-1];
  	  tuote.id += 150;
  	}
  };
})
.controller('WatchChildController1', function($scope, $filter) {
  $scope.message = null;
  $scope.$watch('tuotteet', function() {
  	$scope.message = 'Lapsi huomasi tuotteiden päivittyneen: ' + $filter('json')($scope.tuotteet);
  });

  $scope.counter = 600;
  $scope.lisaaTuote = function() {
  	$scope.message = null;
  	$scope.tuotteet.push({id: $scope.counter++});
  };
  $scope.tyhjenna = function() {
  	$scope.message = null;
  	$scope.tuotteet.length = 0;
  };
  $scope.muokkaa = function() {
  	if($scope.tuotteet.length > 0) {
  	  var tuote = $scope.tuotteet[$scope.tuotteet.length-1];
  	  tuote.id += 150;
  	}
  };
});
					</div>
				</div>
				<div title="directive.js" name="directive.js" bs-pane>
					<div hljs no-escape>
angular.module('watchNyanssit')
.directive('watchChild1', function() {
  return {
    templateUrl: 'templates/watchNyanssit/watchChild.html',
    controller: 'WatchChildController1',
    scope: {
      tuotteet: '='
    }
  };
});
					</div>
				</div>
				<div title="parent.html" name="parent.html" bs-pane>
					<div hljs>
<div ng-controller="WatchParentController1">
  <p>{{ tuotteet | json }}</p>
  <div class="alert alert-info" ng-if="message">{{ message }}</div>

  <p>
    <button type="button" class="btn btn-primary" ng-click="lisaaTuote()">Äiti: lisää</button>
    <button type="button" class="btn btn-primary" ng-click="tyhjenna()">Äiti: tyhjennä</button>
    <button type="button" class="btn btn-primary" ng-click="muokkaa()">Äiti: muokkaa</button>
  </p>
  <watch-child-1 tuotteet="tuotteet"></watch-child-1>
</div>
					</div>
				</div>
				<div title="watchChild.html" name="watchChild.html" bs-pane>
					<div hljs>
<div>
  <div class="alert alert-info" ng-if="message">{{ message }}</div>
  <button type="button" class="btn btn-primary" ng-click="lisaaTuote()">Lapsi: lisää</button>
  <button type="button" class="btn btn-primary" ng-click="tyhjenna()">Lapsi: tyhjennä</button>
  <button type="button" class="btn btn-primary" ng-click="muokkaa()">Lapsi: muokkaa</button>
</div>
					</div>
				</div>
			</div>
		</div>
	</div>







	<h3>Toimiiko $scope.$watch objectEquality = true?</h3>

	<p ng-hide="showDoc2"><a href="" ng-click="showDoc2 = true">Näytä perustelu</a></p>
	<p ng-show="showDoc2">
		Tuotteiden lisäys havaitaan <code>$scope.$watch</code>:lla koska sille on annettu kolmas parametri <code>objectEquality</code> jolloin muutokset tarkastetaan vertaamalla Arrayn jokaisen olion kaikkia kenttiä. Tämä on erittäin raskasta koska tarkastus tehdään jokaisen scopen muutoksen yhteydessä (esim. textareaan on isätty yksi kirjain).
	</p>

	<div class="row">
		<div class="col-md-4">
			<div ng-controller="WatchParentController2">
				<p>{{ tuotteet | json }}</p>
				<div class="alert alert-info" ng-if="message">{{ message }}</div>

				<p>
					<button type="button" class="btn btn-primary" ng-click="lisaaTuote()">Äiti: lisää</button>
					<button type="button" class="btn btn-primary" ng-click="tyhjenna()">Äiti: tyhjennä</button>
					<button type="button" class="btn btn-primary" ng-click="muokkaa()">Äiti: muokkaa</button>
				</p>
				<watch-child-2 tuotteet="tuotteet"></watch-child-2>
			</div>
		</div>

		<div class="col-md-8">
			<div bs-tabs>
				<div title="controller.js" name="controller.js" bs-pane>
					<div hljs no-escape>
angular.module('watchNyanssit')
.controller('WatchParentController2', function($scope, $filter) {
  $scope.tuotteet = [{id: 5}, {id: 34}, {id: 88}];

  $scope.message = null;
  $scope.$watch('tuotteet', function() {
  	$scope.message = 'Äiti huomasi tuotteiden päivittyneen: ' + $filter('json')($scope.tuotteet);
  }, true);

  $scope.counter = 500;
  $scope.lisaaTuote = function() {
  	$scope.message = null;
  	$scope.tuotteet.push({id: $scope.counter++});
  };
  $scope.tyhjenna = function() {
  	$scope.message = null;
  	$scope.tuotteet.length = 0;
  };
  $scope.muokkaa = function() {
  	if($scope.tuotteet.length > 0) {
  	  var tuote = $scope.tuotteet[$scope.tuotteet.length-1];
  	  tuote.id += 150;
  	}
  };
})
.controller('WatchChildController2', function($scope, $filter) {
  $scope.message = null;
  $scope.$watch('tuotteet', function() {
  	$scope.message = 'Lapsi huomasi tuotteiden päivittyneen: ' + $filter('json')($scope.tuotteet);
  }, true);

  $scope.counter = 600;
  $scope.lisaaTuote = function() {
  	$scope.message = null;
  	$scope.tuotteet.push({id: $scope.counter++});
  };
  $scope.tyhjenna = function() {
  	$scope.message = null;
  	$scope.tuotteet.length = 0;
  };
  $scope.muokkaa = function() {
  	if($scope.tuotteet.length > 0) {
  	  var tuote = $scope.tuotteet[$scope.tuotteet.length-1];
  	  tuote.id += 150;
  	}
  };
});
					</div>
				</div>
				<div title="directive.js" name="directive.js" bs-pane>
					<div hljs no-escape>
angular.module('watchNyanssit')
.directive('watchChild2', function() {
  return {
    templateUrl: 'templates/watchNyanssit/watchChild.html',
    controller: 'WatchChildController2',
    scope: {
      tuotteet: '='
    }
  };
});
					</div>
				</div>
				<div title="parent.html" name="parent.html" bs-pane>
					<div hljs>
<div ng-controller="WatchParentController2">
  <p>{{ tuotteet | json }}</p>
  <div class="alert alert-info" ng-if="message">{{ message }}</div>

  <p>
    <button type="button" class="btn btn-primary" ng-click="lisaaTuote()">Äiti: lisää</button>
    <button type="button" class="btn btn-primary" ng-click="tyhjenna()">Äiti: tyhjennä</button>
    <button type="button" class="btn btn-primary" ng-click="muokkaa()">Äiti: muokkaa</button>
  </p>
  <watch-child-2 tuotteet="tuotteet"></watch-child-2>
</div>
					</div>
				</div>
				<div title="watchChild.html" name="watchChild.html" bs-pane>
					<div hljs>
<div>
  <div class="alert alert-info" ng-if="message">{{ message }}</div>
  <button type="button" class="btn btn-primary" ng-click="lisaaTuote()">Lapsi: lisää</button>
  <button type="button" class="btn btn-primary" ng-click="tyhjenna()">Lapsi: tyhjennä</button>
  <button type="button" class="btn btn-primary" ng-click="muokkaa()">Lapsi: muokkaa</button>
</div>
					</div>
				</div>
			</div>
		</div>
	</div>








	<h3>Toimiiko $scope.$watchCollection?</h3>

	<p ng-hide="showDoc3"><a href="" ng-click="showDoc3 = true">Näytä perustelu</a></p>
	<p ng-show="showDoc3">
		Tuotteiden lisäys ja poisto havaitaan <code>$scope.$watchCollection</code>:lla koska se tutkii olioiden määrää ja vertailee niiden yhtäsuuruutta nopealla <code>===</code> vertailulla. Olion sisäisiä muokkauksia ei havaita. Myös kahden samanlaisen olion vertailu epäonnistuu jos kyseessä on eli instanssi eli <code>{id:1} !== {id:1}</code>
	</p>

	<div class="row">
		<div class="col-md-4">
			<div ng-controller="WatchParentController3">
				<p>{{ tuotteet | json }}</p>
				<div class="alert alert-info" ng-if="message">{{ message }}</div>

				<p>
					<button type="button" class="btn btn-primary" ng-click="lisaaTuote()">Äiti: lisää</button>
					<button type="button" class="btn btn-primary" ng-click="tyhjenna()">Äiti: tyhjennä</button>
					<button type="button" class="btn btn-primary" ng-click="muokkaa()">Äiti: muokkaa</button>
				</p>
				<watch-child-3 tuotteet="tuotteet"></watch-child-3>
			</div>
		</div>

		<div class="col-md-8">
			<div bs-tabs>
				<div title="controller.js" name="controller.js" bs-pane>
					<div hljs no-escape>
angular.module('watchNyanssit')
.controller('WatchParentController3', function($scope, $filter) {
  $scope.tuotteet = [{id: 5}, {id: 34}, {id: 88}];

  $scope.message = null;
  $scope.$watchCollection('tuotteet', function() {
  	$scope.message = 'Äiti huomasi tuotteiden päivittyneen: ' + $filter('json')($scope.tuotteet);
  });

  $scope.counter = 500;
  $scope.lisaaTuote = function() {
  	$scope.message = null;
  	$scope.tuotteet.push({id: $scope.counter++});
  };
  $scope.tyhjenna = function() {
  	$scope.message = null;
  	$scope.tuotteet.length = 0;
  };
  $scope.muokkaa = function() {
  	if($scope.tuotteet.length > 0) {
  	  var tuote = $scope.tuotteet[$scope.tuotteet.length-1];
  	  tuote.id += 150;
  	}
  };
})
.controller('WatchChildController3', function($scope, $filter) {
  $scope.message = null;
  $scope.$watchCollection('tuotteet', function() {
  	$scope.message = 'Lapsi huomasi tuotteiden päivittyneen: ' + $filter('json')($scope.tuotteet);
  });

  $scope.counter = 600;
  $scope.lisaaTuote = function() {
  	$scope.message = null;
  	$scope.tuotteet.push({id: $scope.counter++});
  };
  $scope.tyhjenna = function() {
  	$scope.message = null;
  	$scope.tuotteet.length = 0;
  };
  $scope.muokkaa = function() {
  	if($scope.tuotteet.length > 0) {
  	  var tuote = $scope.tuotteet[$scope.tuotteet.length-1];
  	  tuote.id += 150;
  	}
  };
});
					</div>
				</div>
				<div title="directive.js" name="directive.js" bs-pane>
					<div hljs no-escape>
angular.module('watchNyanssit')
.directive('watchChild3', function() {
  return {
    templateUrl: 'templates/watchNyanssit/watchChild.html',
    controller: 'WatchChildController3',
    scope: {
      tuotteet: '='
    }
  };
});
					</div>
				</div>
				<div title="parent.html" name="parent.html" bs-pane>
					<div hljs>
<div ng-controller="WatchParentController3">
  <p>{{ tuotteet | json }}</p>
  <div class="alert alert-info" ng-if="message">{{ message }}</div>

  <p>
    <button type="button" class="btn btn-primary" ng-click="lisaaTuote()">Äiti: lisää</button>
    <button type="button" class="btn btn-primary" ng-click="tyhjenna()">Äiti: tyhjennä</button>
    <button type="button" class="btn btn-primary" ng-click="muokkaa()">Äiti: muokkaa</button>
  </p>
  <watch-child-3 tuotteet="tuotteet"></watch-child-3>
</div>
					</div>
				</div>
				<div title="watchChild.html" name="watchChild.html" bs-pane>
					<div hljs>
<div>
  <div class="alert alert-info" ng-if="message">{{ message }}</div>
  <button type="button" class="btn btn-primary" ng-click="lisaaTuote()">Lapsi: lisää</button>
  <button type="button" class="btn btn-primary" ng-click="tyhjenna()">Lapsi: tyhjennä</button>
  <button type="button" class="btn btn-primary" ng-click="muokkaa()">Lapsi: muokkaa</button>
</div>
					</div>
				</div>
			</div>
		</div>
	</div>






	
</div>