<div>
	<h1>Scope vs Controller</h1>

	<div class="row">
		<div class="col-md-6">
			<div ng-controller="ScopeController">
				<div class="alert" ng-class="{'alert-warning': clickCount < 5, 'alert-success': clickCount >= 5 }" role="alert">{{ message }}</div>

				<button type="button" class="btn btn-primary" ng-click="addClick()">
					Klikkaa! <span class="badge">{{ clickCount }}</span>
				</button>
			</div>
		</div>

		<div class="col-md-6">
			<div bs-tabs>
				<div title="controller.js" name="controller.js" bs-pane>
					<div hljs no-escape>
angular.module('scopeVsController').controller('ScopeController', function($scope) {
  $scope.clickCount = 0;
  $scope.message  = '';

  $scope.addClick = function() {
  	$scope.clickCount++;
  };

  $scope.$watch('clickCount', function(newValue) {
  	$scope.message = newValue &lt; 5 ? 'Alle viisi klikkausta' : 'Viisi tai enemmän klikkausta';
  });
});
					</div>
				</div>
				<div title="template.html" name="template.html" bs-pane>
					<div hljs>
<div ng-controller="ScopeController">
  <div class="alert" ng-class="{'alert-warning': clickCount < 5, 'alert-success': clickCount >= 5 }" role="alert">{{ message }}</div>

  <button type="button" class="btn btn-primary" ng-click="addClick()">
    Klikkaa! <span class="badge">{{ clickCount }}</span>
  </button>
</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>